:root {

  --color-primary-050: hsl(240, 100%, 98%);
  --color-primary-100: hsl(238, 100%, 88%);
  --color-primary-200: hsl(238, 94%, 81%);
  --color-primary-300: hsl(240, 95%, 76%);
  --color-primary-400: hsl(243, 94%, 70%);
  --color-primary-500: hsl(243, 94%, 66%);
  --color-primary-600: hsl(245, 92%, 60%);
  --color-primary-700: hsl(245, 79%, 52%);
  --color-primary-800: hsl(245, 86%, 40%);
  --color-primary-900: hsl(245, 100%, 40%);

  --color-grey-050: hsl(210, 36%, 96%);
  --color-grey-100: hsl(212, 33%, 79%);
  --color-grey-200: hsl(210, 31%, 68%);
  --color-grey-300: hsl(211, 27%, 59%);
  --color-grey-400: hsl(209, 23%, 48%);
  --color-grey-500: hsl(210, 22%, 41%);
  --color-grey-600: hsl(209, 28%, 32%);
  --color-grey-700: hsl(209, 34%, 23%);
  --color-grey-800: hsl(211, 39%, 14%);
  --color-grey-900: hsl(209, 61%, 10%);

  --color-success-050: hsl(125, 65%, 93%);
  --color-success-100: hsl(127, 65%, 69%);
  --color-success-200: hsl(124, 63%, 50%);
  --color-success-300: hsl(123, 53%, 45%);
  --color-success-400: hsl(123, 57%, 37%);
  --color-success-500: hsl(122, 73%, 30%);
  --color-success-600: hsl(122, 80%, 22%);
  --color-success-700: hsl(125, 79%, 16%);
  --color-success-800: hsl(125, 86%, 9.5%);
  --color-success-900: hsl(125, 97%, 6%);

  --color-warning-050: hsl(49, 100%, 89%);
  --color-warning-100: hsl(48, 100%, 51%);
  --color-warning-200: hsl(48, 95%, 42%);
  --color-warning-300: hsl(48, 94%, 36%);
  --color-warning-400: hsl(44, 92%, 32%);
  --color-warning-500: hsl(42, 87%, 29%);
  --color-warning-600: hsl(36, 77%, 25%);
  --color-warning-700: hsl(29, 80%, 20%);
  --color-warning-800: hsl(22, 82%, 14%);
  --color-warning-900: hsl(15, 86%, 10%);

  --color-error-050: hsl(0, 100%, 97%);
  --color-error-100: hsl(0, 100%, 87%);
  --color-error-200: hsl(0, 100%, 78%);
  --color-error-300: hsl(0, 91%, 70%);
  --color-error-400: hsl(0, 83%, 63%);
  --color-error-500: hsl(356, 75%, 57%);
  --color-error-600: hsl(354, 85%, 51%);
  --color-error-700: hsl(352, 90%, 38%);
  --color-error-800: hsl(350, 94%, 24%);
  --color-error-900: hsl(348, 94%, 17%);
}
